/* style.css */

/* Style de base */
body {
    background-color: #121212; /* Couleur de fond sombre */
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 8px;
    margin: 4px 0;
   
}

/* Style des sections d'artistes */
.artist-section {
    margin-bottom: 40px; /* Espace entre les sections */
    padding: 20px;
    background-color: #1e1e1e; /* Fond pour chaque section */
    border-radius: 10px; /* Bord arrondi pour un effet de carte */
}

.artist-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FFD700; /* Couleur dorée pour les titres */
    text-align: center; /* Centrer le titre */
}

/* Cercle pour les artistes */
.artist-circles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espace entre les cercles */
    justify-content: center; /* Centrer les cercles */
}

.artist-circle {
    background: linear-gradient(145deg, #E6BE8A, #B8860B); /* Dégradé doré */
    color: #121212; /* Couleur du texte */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour effet de profondeur */
    transition: transform 0.2s, background-color 0.3s;
}

.artist-circle:hover {
    transform: scale(1.1); /* Zoom au survol */
    background: linear-gradient(145deg, #FFD700, #DAA520); /* Couleur de fond au survol */
}

.artist-circle a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212; /* Couleur du texte */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none; /* Retirer le soulignement des liens */
}

.artist-circle a:hover {
    color: #121212; /* Couleur du texte au survol */
}

/* Formulaire de recherche */
.search-bar {
    text-align: center;
    margin-bottom: 40px;
}

.search-bar input[type="text"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 300px;
    margin-right: 10px;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #FFD700;
    color: #121212;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #DAA520;
}
